.button {
  padding: 2px;
  border: transparent solid 1px;
}
.button:hover {
  border: white solid 1px;
  cursor: pointer;
}
.text-gray {
  color: #565959;
}
.flex {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.text-small {
  font-size: 0.93rem;
}
.font-thin {
  font-weight: 200;
}
.font-regular {
  font-weight: 400;
}
.font-light {
  font-weight: 300;
}
.font-medium {
  font-weight: 500;
}
.font-heavy {
  font-weight: 600;
}
.font-bold {
  font-weight: bold;
}
.font-italic {
  font-style: italic;
}
.text-regular {
  font-size: 0.9rem;
}
.display-inblock {
  display: inline-block;
}
.white-text {
  color: white;
}
.small-img {
  width: 75%;

  padding: 0 0.4rem;
  border: #a2a6ac 1px solid;
  margin-top: 0.5vh;
  cursor: pointer;
}
.small-img:hover {
  border: #f08804 2px solid;
}
.img6 {
  width: 75%;

  padding: 0.4rem 0;
  border: #a2a6ac 1px solid;
  margin-top: 0.5vh;
  cursor: pointer;
}
.dollar {
  font-size: 1.15rem;
  color: #b12704;
}
.link-button {
  font-size: 0.9rem;
  color: #267d91;
}
.link-button:hover {
  color: #c7511f;
  cursor: pointer;
}
